html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* a {
    color: #b5b5b5;
    text-decoration: none;
}

header {
    width: 100%;
    background: #04a2e0;
}

body {
    background: #1a1a1a;
    font-size: 1.6rem;
    color: #FFFAFA;
}

#root {
    display: flex;
    flex-flow: wrap;
    width: 100%;
}

.pokemonListContainer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 4rem;
}

.pokemonCard {
    width: 20rem;
    min-height: 10rem;
    background: #252525;
    margin: 1rem;
    padding: 1rem;
}

#loader {
    width: 100%;
}

.pokemonDetailContainer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 3rem;
}

.pokemonDetail {
    background: #252525;
    padding: 3rem;
    width: 40%;
    margin-top: 10rem;
}

.pokemonDetail > div, .pokemonDetail > div > p {
    margin: 1rem;
}
